.layot-container{
    width: 800px;
    margin: 0 auto;
}

body{
    display: flex;
   
    font-size: 36px;
    font-weight: 800;
}
.nav{
    background-color: rgb(71, 123, 172);
    height: 100vh;
    width: 15vw; ;

}
.header{
    background-color: aquamarine;
    height: 15vh; ;
    width:100vw ;
}

.art{
    display: flex;
}

.aside{

    display: flex-end;
    background-color: beige;
    height:80vh ;
    width:20vw ;
}
    
.art,
.footer{
display: flex;

}