.layot-container{
    width: 800px;
    margin: 0 auto;
}
 body{
    font-size: 36px;

  }  
.nav{
    background-color: aqua;
    height: 100vh;
    width: 15vw;
 

}
.header{
    background-color: aquamarine;
}
.art{
    background-color: rgb(11, 231, 40);

}
.footer{
    background-color: rgb(33, 153, 83);
}
body{
    display: flex;
}
.header,
.art,
.footer{
    width: 100vw;
    height: 33vh;
}