.layot-container{
    width: 800px;
    margin: 0 auto;
}

body{
    
    font-size: 36px;
    font-weight: 800;
}
.nav{
    background-color: aquamarine;
    height: 100vh;
    width: 20vw;
}
.header,
.footer{
    width: 80vw;
    height: 20vh;
    background-color: greenyellow;
}
.general-parent{
    display: flex;
    height: 60vh;
}
.parent2{
    display: flex;
 height: 60vh;;
}

.art{
    width: 50vw;
    
}

.aside{

}

.aside{
    background-color: antiquewhite;
    width: 30vw;

}
