


.layot-container{
    width: 800px;
    margin: 0 auto;
}

body{
    front-size: 36px;
    font-weight: 800;
}
.nav{
    background-color: aquamarine;
    height: 100vh;
    width: 20vw;
}
.general-parent{
    display: flex;
    flex-direction: column;
}
.header,
.footer{
    width: 80vw;
    height: 20vh;
    background-color: greenyellow;
}
.parent2{
    display: flex;
    height: 60vh;
}

.art{
    width: 50vw;
}



.aside{
    background-color: antiquewhite;
    width: 30vw;

}
